name: Build

on: workflow_dispatch

env:
  BUILD_NAME: web_export

jobs:
  build-windows-editor:
    runs-on: windows-latest

    env:
      SCONS_FLAGS: >-
        ccflags="/O2 /Ob3 /GL /sdl- /GS- /arch:SSE4.2 /MP /DNDEBUG"
        linkflags="/LTCG /OPT:REF /OPT:ICF"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
          submodules: recursive

      - name: Set Up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Set Up SCons
        run: pip install scons

      - name: Set Up Direct3D 12 SDK
        run: python godot\misc\scripts\install_d3d12_sdk_windows.py

      - name: Build Editor (Windows)
        run: scons -C godot target=editor module_mono_enabled=yes ${{ env.SCONS_FLAGS }}

      - name: Generate Mono Glue
        run: cmd /c "godot\bin\godot.windows.editor.x86_64.mono --headless --quit --generate-mono-glue godot\bin\glue"

      - name: Save Version Text File
        run: |
          cmd /c "godot\bin\godot.windows.editor.x86_64.mono --headless --quit --version > godot\bin\version.txt"
          type godot\bin\version.txt

      - name: Upload Artifacts
        uses: actions/upload-artifact@v7
        with:
          name: godot.windows.mono.${{ env.BUILD_NAME }}.editor
          path: |
            godot\bin\*.exe
            godot\bin\version.txt
            godot\bin\glue\**


  # Must build export templates on Linux due to the "command line too long" error on windows.
  build-export-template-release:
    runs-on: ubuntu-latest

    needs: build-windows-editor

    env:
      SCONS_FLAGS: >-
        optimize=speed
        lto=full
        ccflags="-DNDEBUG"
        linkflags="-sMALLOC=mimalloc"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
          submodules: recursive

      - name: Set Up Dependencies
        uses: ./.github/actions/web-template-deps

      - name: Build Web Template (Release)
        run: scons -C godot platform=web target=template_release module_mono_enabled=yes ${{ env.SCONS_FLAGS }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v7
        with:
          name: godot.windows.mono.${{ env.BUILD_NAME }}.template_release
          path: |
            godot/bin/godot.web.template_release.wasm32.mono.zip
            godot/bin/GodotSharp/**
            godot/bin/nuget/**


  build-export-template-debug:
    runs-on: ubuntu-latest

    needs: build-windows-editor

    env:
      # Different build settings due to memory limitations of the standard github runner
      SCONS_FLAGS: >-
        optimize=speed
        lto=thin
        ccflags="-DNDEBUG"
        linkflags="-sMALLOC=mimalloc"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
          submodules: recursive

      - name: Set Up Dependencies
        uses: ./.github/actions/web-template-deps

      - name: Build Web Template (Debug)
        run: scons -C godot platform=web target=template_debug module_mono_enabled=yes ${{ env.SCONS_FLAGS }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v7
        with:
          name: godot.windows.mono.${{ env.BUILD_NAME }}.template_debug
          path: godot/bin/godot.web.template_debug.wasm32.mono.zip


  build-final-zip:
    runs-on: ubuntu-latest

    needs: [build-export-template-release, build-export-template-debug]

    outputs:
      version: ${{ steps.prepare.outputs.version }}
      status: ${{ steps.prepare.outputs.status }}
      build_name: ${{ steps.prepare.outputs.build_name }}
      hash: ${{ steps.prepare.outputs.hash }}
      filename: ${{ steps.prepare.outputs.filename }}
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Download Artifacts
        uses: actions/download-artifact@v8
        with:
          path: godot/bin
          merge-multiple: true

      - name: Prepare Files
        id: prepare
        run: |
          # Get the version data from the app (previously saved to a file)
          # Remove the trailing newline
          version_output=$(tr -d '\r\n' < godot/bin/version.txt)

          # Regex matching: split the initial numerical/dot characters
          [[ $version_output =~ ^([0-9.]+)\.([^0-9.][^.]*)\.(mono\.)?(.+)\.([^.]+) ]]
          version=${BASH_REMATCH[1]}
          status=${BASH_REMATCH[2]}
          mono=${BASH_REMATCH[3]}
          build_name=${BASH_REMATCH[4]}
          hash=${BASH_REMATCH[5]}

          # Get a filename matching official Godot releases, e.g.: Godot_v4.6.1-stable_mono_web_export_win64
          filename=Godot_v${version}-${status}_${mono//./_}${build_name//./_}_win64

          # Move the files to a folder
          mkdir $filename
          mv godot/bin/godot.windows.editor.x86_64.mono.exe ${filename}/${filename}.exe
          mv godot/bin/godot.windows.editor.x86_64.mono.console.exe ${filename}/${filename}_console.exe
          mv godot/bin/GodotSharp $filename
          mv godot/bin/nuget $filename
          mv godot/bin/godot.web.template_release.wasm32.mono.zip ${filename}/web_release.zip
          mv godot/bin/godot.web.template_debug.wasm32.mono.zip ${filename}/web_debug.zip
          mv Program.cs $filename
          mv global.json $filename
          mv README.md $filename

          # Save the output for use in other steps
          echo "version=${version}" >> "$GITHUB_OUTPUT"
          echo "status=${status}" >> "$GITHUB_OUTPUT"
          echo "build_name=${build_name}" >> "$GITHUB_OUTPUT"
          echo "hash=${hash}" >> "$GITHUB_OUTPUT"
          echo "filename=${filename}" >> "$GITHUB_OUTPUT"

      - name: Create Install Batch File
        run: |
          batch_filename=${{ steps.prepare.outputs.filename }}/install.bat
          cat > $batch_filename << 'EOF'
          @echo off

          echo Installing web export files for '${{ steps.prepare.outputs.filename }}'...
          echo:

          set TEMPLATE_FOLDER=%AppData%\Godot\export_templates\${{ steps.prepare.outputs.version }}.${{ steps.prepare.outputs.status }}.mono
          set NUGET_FOLDER=%AppData%\NuGet\nuget

          echo Moving export templates to '%TEMPLATE_FOLDER%'...

          md "%TEMPLATE_FOLDER%"
          move /y "%~dp0web_release.zip" "%TEMPLATE_FOLDER%"
          move /y "%~dp0web_debug.zip" "%TEMPLATE_FOLDER%"

          echo:
          echo Attempting to add NuGet source...

          dotnet nuget add source "%NUGET_FOLDER%" --name NugetSource

          echo:
          echo Moving NuGet packages to '%NUGET_FOLDER%'...

          md "%NUGET_FOLDER%"
          move /y "%~dp0nuget\*" "%NUGET_FOLDER%"
          rd "%~dp0nuget"

          echo:
          echo Attempting to install wasm-tools...

          ren "%~dp0global.json" global.json.disabled
          dotnet workload install wasm-tools

          ren "%~dp0global.json.disabled" global.json
          dotnet workload install wasm-tools

          echo:
          echo Installation complete!
          echo Use the included '${{ steps.prepare.outputs.filename }}.exe' to open your project and export for the web.

          pause
          EOF

      - name: Create Zip File
        run: 7z a ${{ steps.prepare.outputs.filename }}.zip ${{ steps.prepare.outputs.filename }} -r -mm=Deflate64 -mx=9 -bb

      - name: Upload Artifacts
        uses: actions/upload-artifact@v7
        with:
          name: ${{ steps.prepare.outputs.filename }}.artifact
          path: ${{ steps.prepare.outputs.filename }}.zip


  upload-release:
    runs-on: ubuntu-latest

    needs: build-final-zip

    steps:
      - name: Download Artifact Zip File
        uses: actions/download-artifact@v8
        with:
          name: ${{ needs.build-final-zip.outputs.filename }}.artifact

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ needs.build-final-zip.outputs.filename }}.zip
          tag_name: ${{ needs.build-final-zip.outputs.version }}-${{ needs.build-final-zip.outputs.status }}
          target_commitish: ${{ github.ref }}
          body: >-
            Windows build of [Godot Engine](https://godotengine.org/)
            ${{ needs.build-final-zip.outputs.version }}-${{ needs.build-final-zip.outputs.status }}
            with experimental support for exporting C# projects to the web.


            How to use:

            1. Extract the zip file.

            2. Run the included `install.bat`.

            3. Change your Godot project's `.csproj` `TargetFramework` to `net9.0`, i.e., `<TargetFramework>net9.0</TargetFramework>`.

            4. Copy the included `Program.cs` to your project root if it doesn't have one.

            5. Open your project with the included app to export to the web.

            > <sub>If you are using self-contained mode, copy the web export templates to
            `editor_data\export_templates\${{ needs.build-final-zip.outputs.version }}.${{ needs.build-final-zip.outputs.status }}.mono`.</sub>


            **⚠️WARNING

            Games exported for the web do not support all features.

            See the main README for more information.**